html, body { 
    font-family: "Comic Sans MS"; 
    font-size: 16px; 
    font-weight: normal; 
    padding:0;
    margin:0; 
    background-color: #dbfcec;
}
.logo{
    margin: 10px auto 0px auto;
    display: block;
    width: 450;
    height: 150;
}
.spacer { height: 30px; clear: both; }
.footer{
    border-top: 2px solid black;
    padding: 90px 0 0 0;
    width: 100%;
    background-size: cover;
    background-image: url('../img/footer/background/black.jpg');
}
.hidden{ display:none;}
canvas{ padding: 0; margin: auto; display: block; width: 550px; float: left; }
.game{ width: 700px; margin: 0 auto; }
.game-inner{ width: 150px; float: left; }
.game-inner .bulb.on { background:url('../img/game/bulb/on.png') no-repeat; }
.game-inner .bulb {
    margin: 60px 0 0 0;
    height: 200px;
    width: 200px;
    background: url('../img/game/bulb/off.png') no-repeat;
    background-size:contain;
}
.timer{ height: 90px;
    width: 150px; 
    border: 3px solid black;
    -webkit-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-radius: 15px;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    line-height: 1.58;
    margin: 70px 0 0 22.5px
}

.myo_gesture{  background-color: black;  opacity: 0.75; border-radius: 50%; }

.error .tingle-modal-box__content { padding: 1rem 3rem; font-weight: 900; }

.error  h1{
    text-align: center;
    margin: 0 0 35px 0;
    color: #e93124;
    font-size: 40px;
    border-bottom: 3px dashed blanchedalmond;
    padding-bottom: 15px;
}

.tutorial .tingle-modal-box__content { padding: 1rem 3rem; font-weight: 900; }
.tutorial h1{
    text-align: center;
    margin: 0 0 35px 0;
    color: #458fa9;
    font-size: 40px;
    border-bottom: 3px dashed blanchedalmond;
    padding-bottom: 15px;
}
.tutorial ul p.desc{ padding: 0 0 0 20px; color:grey; font-size: 13px;}
.tutorial .myo_gesture{ width: 80px; height: 80px; margin: 0 calc(50% - 20px) 0 calc(50% - 60px); }
.tutorial .myo_gesture img{ width: 100%; height: 100%; }
img.hoop { height: 23px; width: 73px;margin: 0px 0 -8px 0;}
.float_help {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 35px;
    right: 2.5%;
}
.float_help .help_popup {
    float: right;
    width: 100px;
    height: 100px;
    margin: -10px 10px 0 0px;
    transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 0;
}
.float_help .help_popup.fadein { opacity: 1; }
.float_help .help_popup .myo_gesture, .float_help .help_popup img { width: 80px; height: 80px; float: right; }
.float_help .help_popup .myo_gesture{ margin: 0 -2px 0 0; }
/* Adapted from: https://css-tricks.com/snippets/css/css-triangle/ */
.float_help .arrow-right {
    margin: 30px 0 0 0;
    float: right;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #458fa9;
  }
.float_help .help { float: right; width: 50px; height: 50px; }
#instructions { margin: 0 auto; width: 600px; }
.paper { position: relative; background: #fcfc9e; }
.paper .pin { margin: 0 auto; display: block; height: 45px; width: 45px;}
.paper-inner {
    margin: -10 0 0 0;
    padding: 37px 20px 27px 75px;
    background: #fcfc9e;
    background: -webkit-linear-gradient(top, #8e8e8e 0%, #fcfc9e 8%) 0 57px;
    background: -moz-linear-gradient(top, #8e8e8e 0%, #fcfc9e 8%) 0 57px;
    background: linear-gradient(top, #8e8e8e 0%, #fcfc9e 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}
.paper::after {content:''; position:absolute; width:0px; top:0; left:59px; bottom:0; border-left:1px solid #fc3e14;}
.paper table {padding:0;margin:0;margin-top: -7px; width: 100%;border-spacing: 0px;line-height: 1.75;}
.paper th { text-align: left; }
.paper td:first-child { width: 75px; }
.paper td:nth-child(3) { width: 80px;}
.paper #date { font-weight: bold; color: black; margin: -30px 0 40px 0; }

.notes{ width: 600px; margin: 0 auto; }
.notes .about_img, .notes div:first-child{ height: 350px; width: 350px; }
.notes .repo_img, .notes div:nth-child(2){ height: 250px; width: 250px; }
.notes div:first-child, .notes div:nth-child(2){ float: left; }
.git_img{ width: 100px; height: 100px; margin: -160px 0 0 70px; transform: rotate(15deg); }
/* https://www.sitepoint.com/community/t/how-do-i-get-the-same-margins-padding-in-ie-ff-chrome/25641/3 */
img {display:block;}