<!DOCTYPE HTML>
<html>
  <head>
    <title>Buzz Wire Game</title>
    <script>global=window</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/img/logos/thumbnail.png"/>
        
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="/static/js/plugins/myo.js"></script>
    <script src="/static/js/plugins/vector.myo.js"></script>
    <script src="/static/js/plugins/tingle.min.js"></script>
    <script src="/static/js/timer.js"></script>
    <script src="/static/js/scoreboard.js"></script>
    <script src="/static/js/game.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/plugins/tingle.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>

  <body>  
      <div class="header">
          <img class="logo" src="/static/img/logos/orange_450-150.png"> 
          <div class="float_help">
              <img class="help"src="/static/img/icons/291207.png"> 
              <div class="help_popup .fade">
                  <div class="arrow-right"></div>
                  <div class="myo_gesture">
                      <img src="/static/img/myo/double_tap.png"> 
                  </div>
              </div>
          </div>
      </div>
      <div class="game">

          <canvas id="game" width="550" height="450">
              Your browser does not support the HTML5 canvas tag.</canvas>
          <canvas id="game_wire" width="550" height="450" class="hidden"></canvas>
          <canvas id="game_start_box" width="550" height="450" class="hidden"></canvas>
          <canvas id="game_end_box" width="550" height="450" class="hidden"></canvas>
          
          <div class="game-inner">
                <div id="time" class="timer">0:00</div>
                <p id="savedTime"></p>
              <div class="bulb"></div>
          </div>

      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="footer">
          <div id="instructions" class="paper">
              <img class="pin" src="/static/img/footer/notes/pin/pin_orange-S.png">
              <div class="paper-inner">
                  <p id="date">27/4/18</p>
                  <table class="scoreboard">
                  <tr><th>Rank</th><th>Username</th><th>Score</th></tr>
                  <tr><td>1.</td><td id="u0"></td><td id="s0"></td></tr>                    
                  <tr><td>2.</td><td id="u1"></td><td id="s1"></td></tr>
                  <tr><td>3.</td><td id="u2"></td><td id="s2"></td></tr>
                  <tr><td>4.</td><td id="u3"></td><td id="s3"></td></tr>
                  <tr><td>5.</td><td id="u4"></td><td id="s4"></td></tr>
                  <tr><td>6.</td><td id="u5"></td><td id="s5"></td></tr>
                  <tr><td>7.</td><td id="u6"></td><td id="s6"></td></tr>
                  <tr><td>8.</td><td id="u7"></td><td id="s7"></td></tr>
                  <tr><td>9.</td><td id="u8"></td><td id="s8"></td></tr>
                  <tr><td>10.</td><td id="u9"></td><td id="s9"></td></tr>
                  </table>
              </div>​
          </div>
          <div class="spacer"></div>
          <div class="notes">
              <div>
                  <img class="about_img" src="/static/img/footer/notes/white_note_r.png" title="About">
              </div>
              <div>
                  <img class="repo_img" src="/static/img/footer/notes/graph_note.png">         
                  <a href="https://github.com/taraokelly/Gesture-Based-Assignment">
                      <img class="git_img" src="/static/img/footer/notes/git/social_128.png" title="Repository">
                  </a>
              </div>
          </div>
          <div class="spacer"></div>
      </div>     
  <script src="/static/js/tutorial.js"></script>
  <script src="/static/js/script.js"></script>
  </body>
</html>
